{% extends 'layout.html' %}

{% block body %}
<main class="ui three cloumn grid">
    <aside class="column">1</aside>
    <section class="column">2</section>
    <section class="column">3</section>
</main>
<nav class="ui menu">
    <h3 class="header item">Title</h3>
    <a class="active item">Home</a>
    <a class="item">Link</a>
    <a class="item">Link</a>
    <span class="right floated text item">Signed in as <a href="#">user</a></span>
</nav>
<button class="large ui button">
  <i class="heart icon"></i>
    CSS Sample
</button>
{% endblock %}
