{% extends 'layout.html' %}

{% block body %}
<!-- 메뉴 -->
<div class="ui tiered menu">
    <div class="menu">
        <a href="{{url_for('home.index')}}" class="item">
            <i class="users icon"></i>
            Home
        </a>
        <a class="active item">
            <i class="grid layout icon"></i> WebToon
        </a>
        <a href="{{url_for('board.index')}}" class="item">
            <i class="mail icon"></i> Board
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
                </div>
            </div>
            <div class="ui dropdown item">
                More <i class="icon dropdown"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
        </div>
        </div>
        <div class="ui sub menu">
            <a class="active item">All List</a>
            <a class="item">End List</a>
            <a class="item">In progress List</a>

    </div>
</div>

<!-- 디테일 카드 -->
<div class="ui items">
{% for web in entity %}
    <div class="item">
        <div class="image">
            <a href="{{url_for('.sub_list', id=web.title_no)}}" class="ui medium image">
                <img src="{{web.image_url}}">
	    </a>
            <a class="like ui corner label">
                <i class="like icon"></i>
	    </a>
        </div>
        <div class="content">
            <div class="name">{{web.title}}</div>
            <p class="description">{{web.title_no}} : {{web.site_name}}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
